<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            background-color: #000;
            color: #03ff0f;
            font-family: 'Courier New', monospace;
        }
        .container {
            margin-top: 20px;
        }
        .form-control {
            background-color: #000000;
            color: #ffffff;
            
            border: 1px solid #fff;
        }
        .form-control::placeholder {
            color: #a3a3a3;
        }
        .form-control:focus {
            background-color: #000000;
            color: white;
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }
        .chart {
            height: 90%;
            background-color: #333;
            color: #fff;
            padding: 5%;
        }
        .approval-section {
            margin-top: 20px;
        }
        .approval-section .card {
            background-color: #333;
            color: #fff;
            margin-bottom: 10px;
        }
        #stars {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -100;
        }
        .star {
            position: absolute;
            background-color: #dcfd8e;
            border-radius: 50%;
            animation: twinkle linear infinite;
        }
        @keyframes twinkle {
            0% { opacity: 0; transform: translateY(0); }
            100% { opacity: 1; transform: translateY(-100vh); animation-duration: 0.5s; }
        }
        .separator {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        #logoutbutton {
            position: fixed;
            bottom: 2%;
            right: 2%;
            z-index: 9999;
        }

        


        /* delete if it does not work */
        .autocomplete {
            position: relative;
            display: inline-block;
        }

        #myInput {
            border: 1px solid transparent;
            background-color: #252525;
            padding: 1%;
            font-size: 1.2rem;
        }
        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
            }

            .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #292929; 
            border-bottom: 1px solid #d4d4d4; 
            }

            /*when hovering an item:*/
            .autocomplete-items div:hover {
            background-color: #2e2e2e; 
            }

            /*when navigating through the items using the arrow keys:*/
            .autocomplete-active {
            background-color: DodgerBlue !important; 
            color: #fcfcfc; 
            }
    </style>
</head>
<body>
    <div id="stars"></div>
    <div class="container">
        <div class="separator">
            <h1>Admin Dashboard</h1>
            <form class="d-flex" role="search" id="searchbar">
                <div class="autocomplete" style="width:300px;">
                    <input id="myInput" type="text" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" autocomplete="off">
                </div>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Add New Book</h2>
                <form action="/admin/addbooks" method="post" id="addbooks">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter title" required>
                    </div>
                    <div class="form-group">
                        <label for="genre">Genre</label>
                        <input type="text" class="form-control" id="genre" placeholder="Enter genre" required>
                    </div>
                    <div class="form-group">
                        <label for="author">Author</label>
                        <input type="text" class="form-control" id="author" placeholder="Enter author" required>
                    </div>
                    <div class="form-group">
                        <label for="due-time">Due Time (Days)</label>
                        <input type="number" class="form-control" id="due-time" placeholder="Enter due time in days" required>
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" class="form-control" id="quantity" placeholder="Enter quantity" required>
                    </div>
                    <br>
                    <div id="message" class="mt-3"></div>
                    <br>
                    <button type="submit" class="btn btn-primary">Add Book</button>
                </form>
            </div>
            <div class="col-md-6">
                <h2>Library Statistics</h2>
                <div class="chart">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
        <div class="approval-section">
            <div class="checkins">
            <h2>Check-in Approvals</h2>
            <% if(checkin.length == 0) { %>
                <p>No check-in requests</p>
            <% } else %>
            <% for(let i = 0; i < checkin.length; i++) { %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= checkin[i].ClientID %></h5>
                        <p class="card-text">Requesting check-in for <%= checkin[i].BookName %></p>
                        <button class="btn btn-primary" onclick="HandleCheckIn(Number('<%=checkin[i].T_Id%>'), true)">Approve</button>
                        <!-- <button class="btn btn-danger" onclick="HandleCheckIn(Number('<%=checkin[i].T_Id%>'), false)">Deny</button> -->
                    </div>
                </div>
            <% } %>
        </div>
        <div class="approval-section">
            <div class="checkins">
            <h2>Check-out Approvals</h2>
            <% if(checkout.length == 0) { %>
                <p>No check-out requests</p>
            <% } else %>
            <% for(let i = 0; i < checkout.length; i++) { %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= checkout[i].ClientID %></h5>
                        <p class="card-text">Requesting check-out for <%= checkout[i].BookName %></p>
                        <button class="btn btn-primary" onclick="HandleCheckOut(Number('<%=checkout[i].T_Id%>'), true)">Approve</button>
                        <button class="btn btn-danger" onclick="HandleCheckOut(Number('<%=checkout[i].T_Id%>'), false)">Deny</button>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="approval-section">
            <h2>Admin Requests</h2>
            <% if(convertq.length == 0) { %>
                <p>No admin requests</p>
            <% } else { %>
            <% for(let i = 0; i < convertq.length; i++) { %>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Client: <%=convertq[i].ClientID%></h5>
                            <p class="card-text">Requesting admin access</p>
                            <button class="btn btn-primary" onclick="ApproveAdmin('<%=convertq[i].ClientID%>', true)">Approve</button>
                            <button class="btn btn-danger" onclick="ApproveAdmin('<%=convertq[i].ClientID%>', false)">Deny</button>
                        </div>
                    </div>
            <% } %>
            <% } %>
        </div>
    </div>
    </div>
    <a class="btn btn-primary logout-button" id="logoutbutton">Logout</a>
</body>
<script>
        function HandleCheckIn(T_Id, accepted){
            fetch('/admin/acceptcheckin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({T_Id: T_Id, accepted: accepted})
            }).then(function(response) {
                if (response.ok) {
                    window.location.href = '/admin/dashboard';
                }
                else {
                    alert("Error approving check-in request")
                }
            });
        }
        function HandleCheckOut(T_Id, accepted){
            fetch('/admin/acceptcheckout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({T_Id: T_Id, accepted: accepted})
            }).then(function(response) {
                if (response.ok) {
                    window.location.href = '/admin/dashboard';
                }
                else {
                    alert("Error approving check-in request")
                }
            });
        }
        function ApproveAdmin(username, accepted){
            fetch('/admin/manageadmins', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({username: username, accepted: accepted})
            }).then(function(response) {
                if (response.ok) {
                    window.location.href = '/admin/dashboard';
                }
                else {
                    alert("Error approving admin request")
                }
            });
        }
        const message = document.getElementById('message');
        document.getElementById('addbooks').addEventListener('submit', async (e) => {
            e.preventDefault();
            const title = document.getElementById('title').value;
            const genre = document.getElementById('genre').value;
            const author = document.getElementById('author').value;
            const dueTime = document.getElementById('due-time').value;
            const quantity = document.getElementById('quantity').value;
            const bookData = {
                title: title,
                genre: genre,
                author: author,
                dueTime: dueTime,
                quantity: quantity
            };
            const requestOptions = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(bookData)
            };
            const response = await fetch('/admin/addbooks', requestOptions);
            if (response.ok) { 
            if (response.redirected) {
                window.location.href = response.url;
            }
            else {
                const error = await response.json();
                message.innerText = error.message;
            }
            } else {
            const error = await response.json();
            message.innerText = error.message;
            }
        });
        const ctx = document.getElementById('myChart');
        const data = {
        labels: [
            'Total Books',
            'Total Borrowed Books',
            'Total Available Books'
        ],
                                        
        datasets: [{
            label: 'Booklist',
            data: [Number("<%= NumberofCopies %>"), Number("<%= NumberofCopiesBorrowed %>"), Number("<%= NumberofCopiesAvailable %>")],
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
        }]
        };
        new Chart(ctx, {
            type: 'doughnut',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                cutout: '50%',
            }
        });

    document.getElementById('logoutbutton').addEventListener('click', () => {
        document.cookie.split(";").forEach(function(c) {
        var name = c.split("=")[0].trim();
        document.cookie = name + "=undefined; expires=" + new Date().toUTCString() + "; path=/";
        });
        window.location.replace('/');
    });

    document.getElementById('searchbar').addEventListener('submit', function(e) {
        e.preventDefault();
        const search = document.getElementById('myInput').value;
        window.location.href = `/admin/viewbook?search=${search}`;
    });





// AUTOCOMPLETE FUNCTIONALITY


    function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}


var books =  "<%=booklist %>".split(",");


autocomplete(document.getElementById("myInput"), books);

</script>
</html>